{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}{{ view.model|verbose_name }} Form{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-4">
            <h4 class="mb-4">{% if object %}Edit{% else %}Add{% endif %} {{ view.model|verbose_name }}</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {{ form|crispy }}
                </div>
                <div class="mt-4 d-flex gap-2">
                    <button type="submit" class="btn btn-primary px-4">Save</button>
                    <a href="{% url 'employee_list' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
